.headerCont {
  flex-direction: row !important;
  justify-content: space-between;
}

.newButton span {
  line-height: 100%;
}

@media only screen and (max-width: 800px) {
  .headerCont {
    height: fit-content !important;
    flex-direction: column !important;
    gap: 20px !important;
  }
}
