.headerCont {
  flex-direction: row !important;
  justify-content: space-between;
}

.newButton strong {
  background: #ca5010;
  background: linear-gradient(to bottom right, red 0%, orange 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
