.LandingContainer {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.listContainer {
  margin: 0;
  padding: 40px 40px;
  list-style: none;
  overflow-y: auto;
  box-sizing: border-box;
  margin: 30px 0px;
  position: relative;
  flex-grow: 1;
  background-color: #24232a;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 50px -10px;
  overflow-x: hidden;
  display: grid !important;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-template-rows: repeat(auto-fill, 330px);
}

.listContainer::-webkit-scrollbar {
  width: 5px;
}

.listContainer::-webkit-scrollbar-track {
  background: rgb(50, 53, 70);
  border-radius: 1rem;
}

.listContainer::-webkit-scrollbar-thumb {
  background: #252525;
  border-radius: 1rem;
}

.button {
  composes: button from "../../CommonStyles.css";
  line-height: 0px;
  outline-color: rgba(46, 139, 192, 0.5);
}

.inputLabel {
  position: absolute;
  translate: 0% 250%;
  font-weight: 600;
  font-size: 0.85rem;
  color: rgb(207, 214, 228);
}

.filtersBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  height: 42px;
  flex-grow: 1;
  max-width: 600px;
}

.noReminders {
  box-sizing: border-box;
  color: #eaebf1;
  height: 50%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  white-space: normal;
}

.noReminders strong {
  background: #ca5010;
  background: linear-gradient(to bottom right, #fe0100 0%, #ffa002 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.filterSelector {
  flex-direction: row !important;
  border-radius: 4px;
  height: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  .listContainer {
    padding: 25px;
    grid-template-columns: 1fr;
  }
}
