.App {
  /* background-color: #171719; */
  height: 100vh;
  box-sizing: border-box;
  font-size: calc(10px + 2vmin);
  color: #eaebf1;
  text-align: center;
  padding: 60px 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
